---
layout: layout.njk
title: Contact
---

<div class="purple-backdrop"></div>

    <main>
      <section class="hero_image_container">
        <img src="/images/contact.jpg" alt="Contact" class="radius-1">
      </section>

      <section class="contact">
        <div class="contact_container">
          <h2><span class="red_box">Zijn er nog vragen?</span></h2>
          <div class="contact_block" data-name="question">
            <sl-icon name="arrow-up" class="arrow-up"></sl-icon>
            <h2>Ik heb een vraag</h2>
          </div>
          <form class="question_form folded">
            <div class="form-group">
              <label for="name">Naam*</label>
              <input type="text" id="name" name="name" placeholder="Naam:" required>
            </div>
            <div class="form-group">
              <label for="email">E-mail*</label>
              <input type="email" id="email" name="email" placeholder="Emailadres:" required>
            </div>
            <div class="form-group">
              <label for="message">Bericht</label>
              <textarea id="message" name="message" required></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn">Verstuur</button>
            </div>
          </form>
        </div>
      </section>
    </main>

