
<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8">

    <link rel="canonical" href="https://tienskip.nl/" />
    <meta property="og:locale" content="nl_NL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - Tienskip" />
    <meta property="og:description"
      content="Leer meer over Tienskip Meer informatie Jongeren maken jongeren wegwijs in de lokale democratie! Democratie saai? Daar brengen wij verandering in! Jongeren staan vaak ver van democratie af, wat volgens ons onnodig is. Op een laagdrempelige wijze verkleinen we de kloof tussen jongeren en democratie. Wij leggen de nadruk op je eigen rol als (jonge) &hellip; Home Lees meer &raquo;" />
    <meta property="og:url" content="https://tienskip.nl/" />
    <meta property="og:site_name" content="Tienskip" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css" />
    <script type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>

    <title>Tienskip</title>
    <link rel="stylesheet" href="/bundle.css">
    <link href="/dist/jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <header>
      <div class="header__container">

        <div class="menu__container">
          <nav class="nav__left">
            <ul>
              <li><a href="/over-tienskip">Over Tienskip</a></li>
              <li><a href="/evenementen">Evenementen</a></li>
            </ul>
          </nav>

          <div class="logo" id="logo">
            <a href="/"><img src="/images/logo.png" alt="Tienskip logo"></a>
          </div>

          <nav class="nav__right">
            <ul>
              <li><a href="/doe-er-zelf-wat-aan">Doe er zelf wat aan</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    
    {{ content | safe }}

    <footer class="blue">

      <form class="signup_form">
        <input type="text" placeholder="EMAIL" required>
        <button id="newsletter_submit">Abonneren nieuwsbrief</button>
      </form>

      <div class="address_container">
        <div>Snekertrekweg 1</div>
        <div>KVK</div>
      </div>
      <div class="address_container">
        <div>8912 AA Leeuwarden</div>
        <div>71302227</div>
      </div>

      <div class="spacer"></div>

      <div class="address_container">
        <div>info@tienskip.nl</div>
        <div>Bedrijfsplan</div>
      </div>
      <div class="address_container">
        <div>0622052660</div>
        <div>Jaarrekening</div>
      </div>

      <div class="logo_container">
        <a href="">
          <sl-icon name="facebook"></sl-icon>
        </a>
        <a href="">
          <sl-icon name="instagram"></sl-icon>
        </a>
        <a href="">
          <sl-icon name="linkedin"></sl-icon>
        </a>
      </div>

      <div class="logo_footer">
        <img src="/images/tienskip_wit.png" alt="Tienskip logo">
      </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="/dist/jquery.js"></script>
    <script src="/dist/animatetype.js"></script>
    <script src="/dist/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="/dist/jsmaps/jsmaps-panzoom.js" type="text/javascript"></script>
    <script src="/dist/jsmaps/jsmaps.min.js" type="text/javascript"></script>
    <script src="/dist/maps/netherlands.js" type="text/javascript"></script>
    <script src="/dist/site.js"></script>
    <script src="/dist/map.js"></script>
  </body>

</html>